<ion-view view-title={{category}} ng-controller='CategoryCtrl'>
  <ion-pane>
    <ion-content>

      <div class="button-bar">
        <a class="button button-assertive button-outline categorylist" ng-click=showUnilodge()><i class="icon ion-ios-people"></i><div class="title">&nbsp;<span style="font-size:18px">Unilodge</span></div></a>
        <a class="button button-balanced button-outline categorylist" ng-click=showHall()><i class="icon ion-ios-book"></i><div class="title">&nbsp;<span style="font-size:18px">Hall</span></div></a>
        <a class="button button-balanced button-outline categorylist" ng-click=showCivic()><i class="icon ion-bag"></i><div class="title">&nbsp;<span style="font-size:18px">Civic</span></div></a>
        <a class="button button-balanced button-outline categorylist" ng-click=showBelconne()><i class="icon ion-android-car"></i><div class="title">&nbsp;<span style="font-size:18px">Belconne</span></div></a>
       <!-- <a class="button button-calm" ng-click=showDaily()><i class="icon ion-ios-cart"></i><span class="title">Daily</span></a>-->
      </div>
      <div class="button-bar categorylist">
        <a class="button button-balanced button-outline" ng-click=showHarrison()><i class="icon ion-android-bus"></i><div class="title">&nbsp;<span style="font-size:18px">Harrison</span></div></a>
        <a class="button button-balanced button-outline" ng-click=showFranklin()><i class="icon ion-android-subway"></i><div class="title">&nbsp;<span style="font-size:18px">Franklin</span></div></a>
        <a class="button button-balanced button-outline" ng-click=showGungahlin()><i class="icon ion-android-train"></i><div class="title">&nbsp;<span style="font-size:18px">Gungahlin</span></div></a>
        <a class="button button-royal button-outline" ng-click=showOther()><i class="icon ion-android-globe"></i><div class="title">&nbsp;<span style="font-size:18px">Other</span></div></a>
       <!-- <a class="button button-energized" ng-click=showExchange()><i class="icon ion-chatbubbles"></i><div class="title">Other</div></a>-->
      </div>
      <div class="list">
        <div class = "inner">
        <ion-list>
          <ion-item ng-show="halltask==true" ng-repeat="task in hall| limitTo:halllimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}" style="width:320px;">{{task.name}}</a></div>
          </ion-item>
          <br/>
          <button class="button button-energized button-small" style="margin-left: 15px" ng-show="halltask==true&&halllimit==5" ng-click=setHallLimit(0)>More Posts</button>
        </ion-list>

        <ion-list>
          <ion-item ng-show="unilodgetask==true" ng-repeat="task in unilodge | limitTo:unilodgelimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
          </ion-item>
          <button class="button button-energized button-small" ng-show="unilodgetask==true&&unilodgelimit==5" ng-click=setUnilodgeLimit(0)>More Posts</button>
        </ion-list>

        <ion-list>
          <ion-item ng-show="civictask==true" ng-repeat="task in civic | limitTo:civiclimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
          </ion-item>
          <button class="button button-energized button-small" ng-show="civictask==true&&civiclimit==5" ng-click=setCivicLimit(0)>More Posts</button>
        </ion-list>

        <ion-list>
          <ion-item ng-show="belconnetask==true" ng-repeat="task in belconne | limitTo:belconnelimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
          </ion-item>
          <button class="button button-energized button-small" ng-show="belconnetask==true&&belconnelimit==5" ng-click=setBelconneLimit(0)>More Posts</button>
        </ion-list>

        <ion-list>
          <ion-item ng-show="harrisontask==true" ng-repeat="task in harrison | limitTo:harrisonlimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
          </ion-item>
          <button class="button button-energized button-small" ng-show="harrisontask==true&&harrisonlimit==5" ng-click=setHarrisonLimit(0)>More Posts</button>
        </ion-list>

        <ion-list>
          <ion-item ng-show="franklintask==true" ng-repeat="task in franklin | limitTo:franklinlimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
          </ion-item>
          <button class="button button-energized button-small" ng-show="franklintask==true&&franklinlimit==5" ng-click=setFranklinLimit(0)>More Posts</button>
        </ion-list>

        <ion-list>
          <ion-item ng-show="gungahlintask==true" ng-repeat="task in gungahlin | limitTo:gungahlinlimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
          </ion-item>
          <button class="button button-energized button-small" ng-show="gungahlintask==true&&gungahlinlimit==5" ng-click=setGungahlinLimit(0)>More Posts</button>
        </ion-list>

        <ion-list>
          <ion-item ng-show="othertask==true" ng-repeat="task in other | limitTo:otherlimit">
            <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
          </ion-item>
          <button class="button button-energized button-small" ng-show="othertask==true&&otherlimit==5" ng-click=setOtherLimit(0)>More Posts</button>
        </ion-list>

          <ion-list>
            <ion-item ng-show="alltask==true" ng-repeat="task in all | limitTo:alllimit">
              <div class="item"><i class="icon ion-happy-outline"></i>&nbsp;&nbsp;<a href="#/tab/category/{{task._id}}">{{task.name}}</a></div>
            </ion-item>
          </ion-list>

        </div>
      </div>
    </ion-content>
  </ion-pane>
  <!--
  <ion-content>
    <ion-list>
      <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
      </ion-toggle>
    </ion-list>
  </ion-content>
  -->
</ion-view>
